<h1>Your Homework</h1>



<div *ngIf="this.userService.decryptUser(this.userService.getLoggedUser()) == this.userService.decryptUser(this.userService.getUsers().Danil)">
    <h2>
        Теория
    </h2>

    <table>
        <thead>
            <tr>
                <th>Математические операции в Python</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a + b</td>
                <td>Сложение</td>
            </tr>
            <tr>
                <td>a - b</td>
                <td>Вычитание</td>
            </tr>
            <tr>
                <td>a * b</td>
                <td>Умножение</td>
            </tr>
            <tr>
                <td>a / b</td>
                <td>Деление</td>
            </tr>
            <tr>
                <td>a // b</td>
                <td>Деление нацело без остатка</td>
            </tr>
            <tr>
                <td>a % b</td>
                <td>Остаток от деления</td>
            </tr>
            <tr>
                <td>pow(a, b)</td>
                <td>Возведение <b>a</b> в степень <b>b</b></td>
            </tr>
        </tbody>
    </table>

    <br>

    <h3>Ввод данных с клавиатуры</h3>
    <div>
        <pre>
            s = <b>input()</b>         # Ввод строки в переменную s
            a = <b>int(input())</b>    # Ввод числа в переменную а
        </pre>
    </div>

    <br>

    <div>
        <b>Массив</b> - тип данных, представляющий собой несколько элементов одного типа, собранных под одним именем.<br>
        <b>range(x)</b> - полуинтервал со значениями [0; x): 0, 1, 2, 3, ..., x-1<br>
        <b>range(x, y)</b> - полуинтервал со значениями [x; y): x, x+1, x+2, ..., y-1<br>
        <b>p[i]</b> - <i><b>Доступ</b></i> к элементу массива <i><b>по индексу</b></i><br>
        <br>
        Пусть arr - массив.<br>
        <b>len(arr)</b> - Длина массива arr (количество элементов в массиве arr).<br>

    </div>

    <div>
        Условный оператор <b>if</b> позволяет организовать проверку условий.<br>
        Пример:<br>
        <pre>
            a = int(input())            # ввод числа с клавиатуры
            if a > 10:                  # Проверка "Если а больше 10"
                print(a)                # Если условие выполняется
            else:                       # "Иначе"
                print('Меньше 10')      # Если условие <b>не</b> выпоняется
        </pre>
    </div>

    <div>
        <b>Цикл</b> - конструкция, позволяющая повторять один блок кода некоторое количество раз<br>
        Цикл <b>For</b>:
        <pre>
            for i in range(x):  # i - переменная-счётчик. Принимает значения из range: i = 0, i = 1, ..., i = x - 1
                ...             # Отступ вправо на один TAB обязателен! Блок кода на уровне отступа <b>повторяется х раз</b>
        </pre>
    </div>

    <h2>
        Задание (От 02.10):
    </h2>
        <ul>
            <li>Вызубрить всю теорию. На следующем занятии блиц-опрос!</li>
        </ul>
</div>

<div *ngIf="this.userService.decryptUser(this.userService.getLoggedUser()) == this.userService.decryptUser(this.userService.getUsers().Alexey)">

    <h2>
        Теория
    </h2>
    
    Матрица - двумерный массив, графически представляется в виде координатной сетки с началом координат в левом верхнем углу.<br>
    Координаты элемента матрицы M принято обозначать M[i][j], где i - координата строки, j - координата столбца.<br>
    Главная диагональ матрицы - диагональ с направлением <b>из левого верхнего угла в правый нижний</b>.<br>
    Свойство всех элементов M[i][j] главной диагонали: i == j.<br>
    Обход матрицы производится в помощью вложенного цикла for:<br>
    <pre>
    for i in range(len(M)): # Количество строк в матрице (длина массива массивов)
        for j in range(len(M[i])): # Длина одной взятой i-той строки матрицы
            ...
    </pre>
    
    
    Создание нулевой матрицы:<br>
    <pre>
    m = [] # Создать пустой массив<br>
    for i in range (5): # 5 - количество строк строк в будущей матрице<br>
        tmp = [] # Создать временный массив (строка)<br>
        for j in range(8): # 8 - длина строки<br>
            tmp.append(0) # добавление элемента (нуля) в строку<br>
            l.append(tmp) # добавление строки в матрицу<br>
    </pre>
    
    
    
    Функция для печати матрицы в удобном виде:<br>
    <pre>
    def pmat(arr):<br>
        for i in range(len(arr)):<br>
            for j in range(len(arr)):<br>
                print(arr[i][j], end=' ')<br>
            print()<br>
    </pre>
    
    

    <h2>
        Задание (Deadline: 05.12):
    </h2>
    
        <ul>
            <li>
                Симулятор соц сети https://www.codewars.com/kata/5266876b8f4bf2da9b000362
            </li>
            <li>
                Слова в паровозик https://www.codewars.com/kata/6344701cd748a12b99c0dbc4
            </li>
            <li>
                Брильянты для девушки Джейми (она существует???) https://www.codewars.com/kata/5503013e34137eeeaa001648
            </li>
            <li>
                * Расшифровать данные https://www.codewars.com/kata/decipher-this
            </li>
            <li>
                * Зашифровать данные https://www.codewars.com/kata/5848565e273af816fb000449
            </li>
            
            
        </ul>
    <!-- </p> -->
    
</div>